.servis{
    width: 100%;
    .servis__block{
        width: 100%;
        min-height: 494px;
        @include dfc(start, center);
        gap: 30px;
        .servis__subtitle{
            width: 76px;
            height: 23px;
            p{
                font-size: $size-18;
            }
        }
        .servis__desc{
            width: 550px;
            height: 120px;
            p{
                font-size: $size-48;
                font-weight: 600;
                line-height: 60px;
                color: $main-color;
            }
        }
        .servis__wrapper{
            width: 100%;
            height: auto;
            @include df();
            gap: 26px;
            margin-top: 40px;
            .servis__card{
                max-width: 273px;
                height: 251px;
                padding: 32px 29px;
                @include dfc(start, start);
                gap: 10px;
                transition: .5s;
                &:hover{
                    background: $main-color;
                    cursor: pointer;
                    .servis__title{
                        color: $white;
                    }
                    .servis__text{
                        color: $text-color;
                    }
                }
                .servis__img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: $main-hover;
                    @include df();
                }
                .servis__title{
                    margin-top: 15px;
                    p{
                        font-size: $size-24;
                        font-weight: 600;
                        line-height: 29px;
                    }
                }
                .servis__text{
                    width: 215px;
                    height: 73px;
                    p{
                        font-size: $size-16;
                        font-weight: 400;
                        line-height: 25px;
                        color: $text-color;
                    }
                }
            }
        }
    }
}